*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(fondo.jpg) no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    
}

.contenido{
    text-align: center;
    font-size: 25px;
    margin-top: 100px;

}

h1, h2, h3 {
    margin: 0;
    padding: 10px;
}

.header {
    background:linear-gradient(180deg, #607472c4, white );
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
}
ul {
    list-style:none;
}

.nav > li {
    float:right;
}

.nav li a {
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}


.nav li ul {
    display:none;
    position:absolute;
    min-width:100px;
    top:30px;
}

.nav li:hover > ul {
    display:block;
    
}

.nav li ul li {
    position: static;
    
}

.nav ul li ul {
    right:140px;
    
}

.header h1{
    color: #1a2537;
    font-size: 40px;
    float: left;
    text-shadow: 1px 1px white;
}

.header h2{
    color: #1a2537;
    font-size: 20px;
    margin-right: 0px;
    float: left;
    margin: 0;
    padding: 5px;
}

.sidebar1{
    padding-top: 110px;
    width: 15%;
    float: left;
    margin-left: 30%;
    text-align: center;
}

.sidebar1 img{
    height: 110px;
    display: block;
    margin: auto;
    
}

.sidebar2{
    padding-top: 110px;
    width: 15%;
    float: right;
    margin-right: 30%;
    text-align: center;
}

.sidebar2 img{
    height: 110px;
    display: block;
    margin: auto;
}

a{
    text-decoration: none;
    color: black;
}

footer{
    background: #9ba1986b;
    width: 100%;
    clear: both;
    position: fixed;
    bottom: 0;
    z-index:2000;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
    padding-top: 10px;
}

.Derechos{
    font-size: 22px;
}

.redes{
    width: 100%;
    text-align: center;
    font-size: 28px;
}

.redes a{
    color: black;
    text-decoration: none;
}
